{% extends 'Base.html' %}

{% block title %}
    Add Tie Ups
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Add New Property Tie Up</h1>
<br/>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        {{ images.management_form }}
        {% for form in images %}
        {{form.as_p}}
        {% endfor %}
        <button class="btn btn-dark">Add</button>
    </div>

        <script>
            var name = "{{ user.id }}";
            document.getElementById("user").value = name;

        </script>

</form>
{% else %}
<strong>You need to login first.</strong><br/>
<p><a href="{% url 'login' %}">Click Here</a> to login</p>
{% endif %}

{% endblock %}