{% extends 'Base.html' %}

{% block title %}
    Create a New Blog
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Add Blog Post</h1>
<br/>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        {% csrf_token %}
        {{form.media}}
        {{ form.as_p }}
        <button class="btn btn-dark">Post</button>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name;

    </script>

</form>
{% else %}
<strong>You need to login first.</strong><br/>
<p><a href="{% url 'login' %}">Click Here</a> to login</p>
{% endif %}

{% endblock %}